node_modules/
.env
.env.*
!.env.example
npm-debug.log*
data/
logs/
*.key
*.pem
*.pub
*.token
/bouncer-lechonk-actions
/discord-smart-bot-oracle
/discord-smart-bot-oracle-new
/known_hosts
/known_hosts.old
/consolestuff.txt
